@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  background-color: #25282c;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.path-1{
  animation: spin 3s linear infinite;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.path-2{
  animation: spin 5s linear infinite reverse;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.path-3{
  animation: spin 7s linear infinite;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

.result-gradient-0{
  background: linear-gradient(
    -60deg, 
    black 10%,
    darkred 49.5%, 
    transparent 49.5%, 
    transparent 50.5%, 
    darkgreen 50.5%, 
    black 90%
  );
}

.result-gradient-1{
  background: linear-gradient(
    120deg, 
    black 10%,
    darkred 49.5%, 
    transparent 49.5%, 
    transparent 50.5%, 
    darkgreen 50.5%, 
    black 90%
  );
}

rect {
  filter: saturate(0.3);
  pointer-events: visiblePainted;
  
}

rect:hover{
  filter: saturate(1) !important;
  cursor: pointer;
}
